<div class="faqs-tookit gradient_grey-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title">What's in the purchased box?</h3>
          <p>An email containing a download link and well-details documents will be sent to you. Although the installation is very easy - just in a minute, we are always willing to help whenever you need.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title">Are there any additional costs?</h3>
          <p>The answer is <strong>NO</strong>. All of our themes are one-time fees. You only need to purchase a theme once for your shop. Even when there are updates available, it's also free to get the updates.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title">Is it possible to install more themes without loosing my current one?</h3>
          <p>You can install multiple themes on your store at a time. Every theme is working separately from the others, so you can totally set mind at rest. You can also make changes on any <a href="/collections/shopify-themes" title="Shopify Themes and Shopify Templates" class="hover">shopify themes</a> or choose one to publish at any time.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="widget-wrapper">
          <h3 class="title">Why Shopify?</h3>
          <p>Shopify is now the world's leading ecommerce provider, with over 160,000 users around the world. It is built under cloud-based platform, set you free from worrying about performance or security. All you have to do is setting the products and start your business.</p>
        </div>
      </div>
    </div>
  </div>
</div>