<div class="product-item--price">
    <span class="h1 medium--left">
        {% if on_sale %}
        <span class="old">
            {% if settings.show_prices_with_taxes %}
            {% assign price = product.compare_at_price_with_tax %}
            {% include 'price' %}
            {% else %}
            {% assign price = product.compare_at_price %}
            {% include 'price' %}
            {% endif %}
        </span>
        {% endif %}
        {% if settings.show_prices_with_taxes %}
            {% assign price = product.price_with_tax %}
            {% include 'price' %}
        {% else %}
            {% assign price = product.price %}
            {% include 'price' %}
        {% endif %}
    </span>
    {% if on_sale %}
    <span class="sale-tag medium--right{% if settings.product_reviews_enable %} has-reviews{% endif %}">
        {% if settings.show_prices_with_taxes %}
            {% assign compare_price = product.compare_at_price_with_tax %}
            {% assign product_price = product.price_with_tax %}
        {% else %}
            {% assign compare_price = product.compare_at_price %}
            {% assign product_price = product.price.actual_price %}
        {% endif %}
        {% include 'price-sale' %}
    </span>
    {% endif %}
    {% if settings.product_reviews_enable %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    {% endif %}
</div> 