<a class="icon_spinner2" href="{{spinner2}}">
  <span class="stick"></span>
  <span class="stick"></span>
  <span class="stick"></span>
  <span class="button-caption">{{ 'collections.general.load_more' | t }}</span>
</a>