<div id="col-main" class="page-404 clearfix text-center">

  <i class="md md-explore"></i>
  <h1 class="page-title">{{ 'general.404.title' | t }}</h1>
  <p>{{ 'general.404.subtext_html' | t }}</p>

</div>
<p>&nbsp;</p><p>&nbsp;</p>