<div id="col-main" class="all-collections">
  {% for collection in collections %}
  {% unless collection.handle == 'frontpage' or collection.handle == 'all' %}
  <div class="collection-item animated">
    {% include 'collection-item' %}
  </div>
  {% endunless %}
  {% endfor %}
</div>