<div id="col-main" class="col-md-12 clearfix">
  <div class="page">
    <div class="page_content">
      <div class="title"><span>{{page.title}}</span></div>
      <div class="row">
        <div class="col-sm-7">
          {{ page.content }}
        </div>
        <div class="col-sm-5">
          <div class="responsive-video">
            {{settings.aboutus_embed}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>